.navbar1 {
    width: 25%;
    background-color: white;
    margin-top: 10px;
  }
  
  /* Navigation links */
  .navbar1 a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav1 {
    float: left;
    
  }
  
  /* Subnav button */
  .subnav1 .subnavbtn1 {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 900;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar1 a:hover, .subnav1:hover .subnavbtn1 {
    background-color: white;
    border-top:firebrick 1px solid;
    border-right: firebrick 1px solid;
    border-left: firebrick 1px solid;
  }
  


  /* Style the subnav content - positioned absolute */
  .subnav-content1 {
    display: none;
    position: absolute;
    left: 40px;
    background-color: white;
    width: 500px;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content1 a {
    float: left;
    color: black;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content1 a:hover {
    background-color: #eee;
    color: black;
    border: none;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav1:hover .subnav-content1 {
    border-bottom: firebrick 1px solid;
    display: flex;
    flex-direction: column;
    float: left;
  }

  @media (max-width: 640px) {
    div.navbar1 .subnav1 .subnavbtn1 {
      padding: 0;
    }
  }