.navStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  font-weight: var(--medium);
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  height: var(--size-input);
  display: flex;
  color: var(--text-color-secondary);
  align-items: center;
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

.navLink:hover {
  color: var(--text-color);
}

.activeLink,
.navLink[aria-active="page"] {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.activeLink:hover,
.navLink[aria-active="page"]:hover {
  color: var(--primary);
}

.headerNav {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: space-around;
}

.headerNav h2 {
  font-size: 2em;
  text-align: center;
  color: black;
}

@media (max-width: 815px) {
  .headerNav h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 640px) {
  .headerNav h2 {
    font-size: 1.2em;
    margin: 0 25px;
  }

  .headerNav {
    width: 100%;
    margin-top: 25px;
    margin-left: 60px;
    justify-content: space-between;
  }

}

@media (max-width: 550px) {
  .headerNav h2 {
    margin: 0 20px;
  }

  .headerNav {
    margin-left: 30px;
  }

}


@media (max-width: 425px) {
  .headerNav h2 {
    font-size: .75em;
    margin: 0 15px;
  }

  .headerNav {
    margin-left: 0px;
  }

}